.contact_content{
    font-size: 18px;
}
.yellow-p{
    font-size: 1.0rem;
    word-wrap: break-word;
}
.modal-title{
    font-size: 15px;
}
.button.small.yellow-p {
    max-width: 205px;
    word-wrap: break-word;
    white-space: initial;
}